################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/1.ApplicationServices/WebApi.Core2/bin/Debug/netcoreapp2.0
